/* variabnles */
@import "../abstracts/variables";
/* mixin */
@import "../abstracts/mixin";

main{
    .contenedor-preguntas{
        /* background-color: rgb(226, 195, 160); */
        .preg-fre{
            text-align: center;
        }
        .preg-fre{
            ul{
                list-style: none;
            }
        }
        .preg-fre:hover {
                transform: translateY(-4px);
        }
        .preg-fre{
            h2{
                color: #d58d2a;
                font-size: 1.75rem;
                margin-bottom: 0.5rem;
            }
        }
    }


}